body, html {
    height: 100%; }

body {
    margin: 0; }

.msg {
    margin: 10px 0;
    padding: 10px;
    width: 400px;
    background-color: #efefef; }

#post {
    padding: 0.5em 1em;
    background-color: #50b1ff;
    border: none;
    color: #FFF; }

.fix-height-100 {
    height: 100%; }

.block-chat-user {
    margin: 16px; }
.block-chat-user .name {
    font-size: 14px;
    font-weight: bold;
    display: block; }
.block-chat-user .text {
    margin: 8px;
    margin-bottom: 4px;
    padding: 8px;
    background: #d8d8d8;
    border-radius: 4px;
    max-width: 25%;
    display: inline-block; }
.block-chat-user .date {
    font-size: 11px;
    margin-left: 8px;
    vertical-align: baseline;
    display: block;
    color: #000; }
.block-chat-user.owner {
    text-align: right; }
.block-chat-user.owner .text {
    background: #23d160; }

.block-message {
    padding: 16px; }
.block-message .inputText {
    min-height: 32px;
    margin: 0;
    font-size: 14px; }
.block-message .inputText.min-width-360 {
    min-width: 360px; }

.show-message {
    height: calc(100% - 64px);
    overflow-y: auto; }

@media (max-width: 768px) {
    .mobile-padding-left-24{
        padding-left: 24px;
    }

    .block-chat-user .text {
        max-width: 100%; }
    .block-message {
        border-top: 1px solid #dfdfdf;
        padding: 8px;
    }
    .block-message .inputText {
        width: 100%;
        margin-bottom: 4px; }

    .block-message .inputText.min-width-360.reset-mobile{
        min-width: 0;
        padding: 0;
        margin: 0;
    }

    .block-message .inputText{
        width: 81%;
    }

    .show-message{
        height: calc(100% - 49px);
    }

    .button-send{
        float: right;
        border: none;
        background: transparent;
        color: #a5a5a5;
    }

    .button-back{
        padding: 15px;
        font-size: 20px;
    }


}


.height-container{
    height: calc(100% - 50px);
}
